window {
    background-color: transparent;
    }

label
{
    color: White;
    text-shadow:
        3px 3px 10px DeepPink,
        -3px -3px 10px DeepPink,
        3px -3px 10px DeepPink,
        -3px 3px 10px DeepPink;
}


button.flat,
button.flat:backdrop {
    padding: 3px 8px;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
    border-color: Alpha(White, 0.5);
    color: white;
    background-color: Transparent;
    background-image: None;
    font-weight: bold;
    }

button.flat:hover,
button.flat:active,
button.flat:checked {
    color: white;
    background-color: DeepPink;
    background-image: None;
    }
